#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

#contact-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.contact-address {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.contact-contact {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.contact-info-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

input {
    color: var(--main-font-color);
    border: #4D4D4D 1px solid;
    border-radius: 4px;
    background-color: #2B2B2B;
    padding: 0.4rem;
    outline: none;
}

input:focus {

}

textarea {
    color: var(--main-font-color);
    border: #4D4D4D 1px solid;
    border-radius: 4px;
    background-color: #2B2B2B;
    padding: 0.4rem;
    outline: none;
    resize: none;
    height: 300px;
    margin-bottom: 2rem;
}

iframe {
    margin-top: 4rem;
    width: 100%;
}

@media screen and (min-width: 700px) {
    #contact-form {
        width: 80%;
    }

    #contact-headers {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #contact-headers div {
        width: 48%;
    }
}

@media screen and (min-width: 1000px) {
    #contact-form {
        width: 70%;
    }
}

@media screen and (min-width: 1300px) {
    #contact-form {
        width: 60%;
    }
}