footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

#footer-contact {
    display: flex;
    gap: 1rem;
}

.footer-contact-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}