#landing-page {
    width: 100%;
    height: 90vh;
    position: relative;
}

#gallery-items {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 9px 40px 0 rgba(0, 0, 0, 0.15);
}

#gallery-items h1 {
    font-size: 3rem !important;
}

#gallery-items p {
    max-width: 30rem;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s, display 0.5s;
}

#gallery-item-1 {
    background-image:
            radial-gradient(circle, rgba(36,36,36,0.7) 0%, rgba(36,36,36,0.7) 80%, rgba(36,36,36,0.9) 90%),
            url('assets/mechanics.png');
}

#gallery-item-2 {
    background-image:
            radial-gradient(circle, rgba(36,36,36,0.7) 0%, rgba(36,36,36,0.7) 80%, rgba(36,36,36,0.9) 90%),
            url('assets/mechanics1.png');
}

#gallery-item-3 {
    background-image:
            radial-gradient(circle, rgba(36,36,36,0.7) 0%, rgba(36,36,36,0.7) 80%, rgba(36,36,36,0.9) 90%),
            url('assets/mechanics2.png');
}

#gallery-item-4 {
    background-image:
            radial-gradient(circle, rgba(36,36,36,0.7) 0%, rgba(36,36,36,0.7) 80%, rgba(36,36,36,0.9) 90%),
            url('assets/mechanics3.png');
}

#gallery-item-5 {
    background-image:
            radial-gradient(circle, rgba(36,36,36,0.7) 0%, rgba(36,36,36,0.7) 80%, rgba(36,36,36,0.9) 90%),
            url('assets/mechanics4.png');
}

#gallery-items-nav {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    left: calc(50% - 2.5*36px - 2.5*0.5rem);
    bottom: 1rem;
}

#gallery-items-nav div {
    background-color: var(--gray);
    border-radius: 3px;
    height: 18px;
    width: 36px;
    cursor: pointer;
}

.gallery-items-nav-active {
    background-color: white !important;
}